body{
    background: #E0FFFF
}
h1,p,li,div {
    font-family: 'Dancing Script', cursive;
  }
  a:link    {color:black; text-decoration:none}
  a:visited {color:grey; text-decoration:none}
  a:hover   {color:black; text-decoration:underline}
  a:active  {color:black; text-decoration:underline}